body {
    background-color: aliceblue;
}


.list-group {
    margin-bottom: 1rem;
    border: 1px solid #e6e6e6;
    border-radius: 0;
    background: #fefefe;
    box-shadow: none;
    overflow: hidden;
    color: #0a0a0a;
  }
  
  .list-group > :last-child {
    margin-bottom: 0;
  }
  
  .list-group-item img {
    width: 20px;
    float: right;
  }
  .list-group-item {
    padding: 1rem;
    border-bottom: 1px solid #e6e6e6;
  }
  
  .list-group-item > :last-child {
    margin-bottom: 0;
    border-bottom: none;
  }
  
  .list-group-item.active {
    color: #fefefe;
    background-color: #1779ba;
    border-color: 1px solid #1779ba;
  }
  
  .list-group-item:hover, .list-group-item:focus {
    background-color: #e6e6e6;
    cursor: pointer;
  }
  
  .list-group-item:hover.active, .list-group-item:focus.active {
    background-color: #1779ba;
  }
  
  .list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
    color: #8a8a8a;
    cursor: not-allowed;
    background-color: #fefefe;
  }
  
.done {
  text-decoration: line-through;
  background-color: lightgreen;
}

textarea {
  resize: none;
}

.toggleInfo {
  margin-left: 15px;
}


/* modal css */

/* The Modal (background) */
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* modal css end */